// Fonts
$font-size-default: 16px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 40px;
$font-size-xxxl: 64px;
$font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
$font-weight-normal: normal;
$font-weight-bold: 700;